@model Animal.Models.Diseases

@{
    ViewData["Title"] = "Diseases";
}
@section styles{
    <link href="~/css/select2.min.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Diseases</h3>
    </div>
    <div class="card-body">

        @Html.HiddenFor(m => m.id)


        <form asp-action="AddEditAnimal" enctype="multipart/form-data" method="post">
            @*<input asp-for="id" type="hidden" />*@


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Diseases</label>
                        <input asp-for="diseasesNameEng" class="form-control" id="txtBreedName" />
                        <span asp-validation-for="diseasesNameEng" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Diseases Nepali Name</label>
                        <input asp-for="diseasesNameNep" class="form-control" id="txtNep" />
                        <span asp-validation-for="diseasesNameNep" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Symptoms</label>
                        <input asp-for="symptom" class="form-control" id="txtNep" />
                        <span asp-validation-for="symptom" class="text-danger"></span>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Short Note</label>
                        <input asp-for="shortNote" class="form-control" id="txtNep" />
                        <span asp-validation-for="shortNote" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-12" style="text-align:center; padding-top:15px;">
                    <input type="submit" value="Submit" class="btn btn-primary" id="txtSubmit" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts{
    <script src="~/Scripts/NepaliUnicode.js"></script>
    <script src="~/Transliteration/jsapi.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            var ele1 = $("#txtNep");

            AddUnicode(ele1);
          

        })
    </script>
    <script src="~/Transliteration/transliteration.js"></script>
    <link href="~/Transliteration/transliteration.css" rel="stylesheet" />
    <script src="~/Transliteration/transliteration.I.js"></script>
}


