@model Animal.Models.GoatBreed

@{
    ViewData["Title"] = "Goat Breed";
}
@section styles{
    <link href="~/css/select2.min.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">बाख्राको जात</h3>
    </div>
    <div class="card-body">

        @Html.HiddenFor(m => m.Id)


        <form asp-action="AddEditAnimal" enctype="multipart/form-data" method="post">
            @*<input asp-for="id" type="hidden" />*@


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>बाख्राको जात</label>
                        <input asp-for="BreedName" class="form-control" id="txtBreedName" />
                        <span asp-validation-for="BreedName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>छोटो जानकारी</label>
                        <input asp-for="ShortDetails" class="form-control" id="txtShortDetails" />
                        <span asp-validation-for="ShortDetails" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-12" style="text-align:center; padding-top:15px;">
                    <input type="submit" value="Submit" class="btn btn-primary" id="txtSubmit" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts{
    <script src="~/Scripts/NepaliUnicode.js"></script>
    <script src="~/Transliteration/jsapi.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            var ele1 = $("#txtBreedName");
            var ele2 = $("#txtShortDetails");

            AddUnicode(ele1);
            AddUnicode(ele2);

        })
    </script>
    <script src="~/Transliteration/transliteration.js"></script>
    <link href="~/Transliteration/transliteration.css" rel="stylesheet" />
    <script src="~/Transliteration/transliteration.I.js"></script>
}


